#contact {
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Align items in a column */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    padding: 20px; /* Add some padding */
}

.contactPageTitle{
    font-size: 3rem;
}

.contactForm {
    display: flex; /* Use flexbox for form layout */
    flex-direction: column; /* Align inputs in a column */
    align-items: center; /* Center inputs horizontally */
    width: 100%; /* Full width */
    max-width: 500px; /* Max width for the form */
}

.contactForm input,
.contactForm textarea {
    width: 100%; /* Full width for inputs */
    margin-bottom: 10px; /* Space between inputs */
    padding: 10px; /* Padding inside inputs */
    border: 1px solid #ccc; /* Border style */
    border-radius: 5px; /* Rounded corners */
    color: white;
    background: rgb(40, 40, 40);
}

.submitBtn {
    background-color: white; /* Button color */ /* Text color */
    border: none; /* No border */
    padding: 10px 20px; /* Padding for button */
    border-radius: 3rem; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
}

.submitBtn:hover{
    background: yellow;
}

.links {
    display: flex; 
    justify-content: center; 
    margin-top: 2rem; 
}

.link {
    margin: 0 10px; /* Space between icons */
    width: 30px; /* Set width for icons */
    height: 30px; /* Set height for icons */
}